
    /*--------------------------------------------------------------
# About Section Starts
--------------------------------------------------------------*/
.about-section .about-image-top {
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 20px;
}
.about-section .about-image {
  position: relative;
}
.about-section .about-image-top2 {
    margin-top: 155px;
}
.about-section .about-image-top1 {
    margin-top: 70px;
}
.about-section .about-image-top1 img {
  border-bottom-left-radius: 95px;
  width: 289.62px;
  height: auto;
}
.about-section .about-image-top2 img{
  border-bottom-right-radius: 95px;
  width: 289.62px;
  height: auto; 
}

    /*--------------------------------------------------------------
# Team Section Starts
--------------------------------------------------------------*/

.testimonials-section .team-profile {
    background-color: #F8F8F8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .testimonials-section .team-profile img {
    width: 100%;
    border-bottom-right-radius: 89px;
  }
  .testimonials-section .team-profile .team-content {
    text-align: center;
    padding: 40px 10px; 
  }
  .team-swiper-arrows {
    position: relative;
    bottom: 150px;
    margin: 0px -63px;
  }

  /*--------------------------------------------------------------
# Our-Vision Section Starts
--------------------------------------------------------------*/

.our-vision .vision-img img{
  width: 100%;
}