
/*  ======= Personal Training Section =======  */

.personal-training-image {
    position: relative;
  width: 100%;
  }
  
   .personal-training-image-bottom {
    position: absolute;
    left: -88px;
    top: -88px;
    z-index: -1;
  }
/*   
   .about-image-stack-top { 
    width: 100%; 
  } */
   .personal-training-image-top img{
      width: 100%;
      border-bottom-left-radius: 192.5px;
  }
  
   .personal-training-image-bottom img {
    /* width: 100%; */
    display: block;
  }
