/* ---- mobile view starts ------  */
@media (max-width: 767.98px) {
    h1 {
        font-size: 28px;
        font-weight: 600;
        color: #008878;
        line-height: 130.5%;
    }
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #008878;
        line-height: 130.5%;
    }
    h5 {
        font-size: 14px;
        font-weight: 600;
      }
    p {
        font-size: 14px;
        line-height: 164%;
        margin-bottom: 0;
        font-weight: 400;
        font-family: "PT Sans";
    }
    .heading {
        font-family: "Poppins";
        letter-spacing: 0.715em;
        font-size: 14px;
    }
    .section-wrapper {
        margin: 135px 0 100px 0;
    }
    section {
        margin: 100px 0 100px 0;
    }

    /* .grid-row {
        margin-left: 0rem;
        margin-right: 0rem;
      } */
    
      .grid-col {
        padding-left: 15px;
        padding-right: 15px;
    }
      .blogs-grid-col {
        padding-left: 24px;
        padding-right: 24px;
      }
    /*--------------------------------------------------------------
    # Header Starts 
    --------------------------------------------------------------*/
    /* .header {
        background: #fff;
        transition: all 0.5s;
        z-index: 997;
        padding: 20px 0px;
    } */
    .header {
        background: #fff;
        box-shadow: 0px 0px 24px rgb(0 0 0 / 12%);
        transition: all 0.5s;
        z-index: 997;
    } 
    /* .header .header-scrolled {
        height: 100vh;
    } */
        header .navbar .navbar-brand img{
          width: auto;
          height: 60px;
        }
        header .navbar-light .navbar-toggler {
            color: rgba(0,0,0,.5);
            border-color: transparent;
        }
        header .navbar-nav {
            padding-top: 48px;
            gap: 10px;
        }
        header .navbar-collapse {
            height: 100vh;
        }
        header .navbar-nav .nav-link {
            font-family: "Poppins";
            font-weight: 400;
            font-size: 22px;
            line-height: unset;
            color: #000;
        }
    /*--------------------------------------------------------------
    # Footer Starts
    --------------------------------------------------------------*/
        .footer_section .footer_menu .footer_lists{
            gap: 6px;
          }
          .footer_section .footer_menu .footer_nav_links:after {
            content: "|";
            padding: 0px 0px 0px 6px;
          }
          .footer_section .footer_contact_details {
            margin: 0px 40px;
          }
          .footer_section .footer_contact_details .location_div{
            display: flex;
            justify-content: unset;
            gap: 20px;
            line-height: 20.32;
          }
    /*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
        .hero .image-stack {
            margin-bottom: 40px;
        }
        .hero .image-stack__item-top img {
            width: 285px;
        }
        .hero-text {
            margin-top: 60px;
        }
.Hero-image {
    margin-top: 60px;
}
.blogs-hero-img {
    margin-top: 0px;
}
       .home-about .about-image-stack {
        padding-left: 1rem;
        padding-right: 1rem;
        }
        .about-image-stack-bottom {
            position: absolute;
            left: -5px;
            top: -40px;
            z-index: -1;
        }
        .home-about .home-about-text {
            margin-top: 38px;
        }
        .about-image-stack-bottom img {
            width: 80px;
            height: auto;
        }
          .contact-hero-img {
            margin-top: 0rem;
              margin-left: 0rem;
          }

/*--------------------------------------------------------------
    # Home-Classes Section
    --------------------------------------------------------------*/
          .home-classes .classes-card {
            margin-top: 30px;
            gap: 30px;
        }
        .home-classes .classes-card .classes-card-bgimg {
            position: absolute;
            right: 4px;
            z-index: -1;
            top: -233px;
            width: 80px;
        }
        .home-classes .classes-card .personal-training-card {
            background: #F8F8F8;
            border-radius: 20px;
            padding: 15px;
            text-align: center;
            width: 180px;
        }
        .home-classes .personal-card-two {
            align-self: end;
           }
           .home-classes .card_description {
            font-size: 12px;
        }
        .home-classes .classes-text {
            margin-top: 38px;
        }
        .home-classes .classes-card-top {
            margin-left: 0px;
        }
    /*--------------------------------------------------------------
    # Pricing Section
    --------------------------------------------------------------*/

        .price-section .pricing-card {
            margin: 15px 0px;
        }
        .price-section .card-content .pricing-display .pricing-number {
            font-family: "Poppins";
            font-size: 50px;
            color: #7A5C8D;
        }
        .price-section .card-content .pricing-display {
            display: flex;
            gap: 13px;
        }
     /*--------------------------------------------------------------
    # Home Blogs Section
    --------------------------------------------------------------*/
        .blogs-card {
            margin: 15px 0px;
        }
        .home-blogs-section .blogs_bg {
         display: none;
        }
        .home-blogs-section .blogs-main-btn {
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }

        .blogs-section .blogs_bg {
        display: none;
        }
        .blogs-section {
            position: relative;
            margin-top: -60px 0px;
        }
        .blog-description-section {
            margin-top: 10px;
          }
        .blog-description-section .blog_heading {
            font-size: 28px;
            font-weight: 600;
            font-family: "Poppins";
            width: 100%;
            margin: 15px 0px;
        }
        .blog-description-section .blog_sub_heading {
            font-weight: 600;
            font-family: "Poppins";
            color: #000;
            margin-bottom: 20px;
          }
        .blogs-card .card-content .card-title h3 {
            font-family: "Poppins";
            font-weight: 700;
            font-size: 14px;
            line-height: 115.61%;
            color: #860005;
        }
        .card_description {
            font-size: 12px;
        }
        .blogs-card .card-content {
            padding: 30px 15px 25px 15px;
        }
        .blogs-card .blogs_img img {
            width: 100%;
            height: 185px;
            border-top-right-radius: 32px;
            border-top-left-radius: 32px;
        }
        .application-card .aplication-img {
            margin-top: -38px;
            margin-bottom: 3px;
            text-align: center;
        }

        .application-card {
            margin: 0;
        }
        .client-application-card {
            background: #F8F8F8;
            border-radius: 20px;
            /* padding: 50px 35px 45px 35px; */
            margin: 0px;
        }
        .client-application-card .aplication-img {
            padding-top: -19px;
            position: unset;
            margin-top: -40px;
        }
        .application-card .apply-btn {
            padding: 4px 40px 39px 40px;
            text-align: center;
        }
        .application-card .application-card-text {
            padding: 30px;
        }

        .blogs-card {
            background: #FFFFFF;
            border-radius: 35px;
            border: 0;
            margin: 14px 0px;
          }
          
          .blogs-social-media .blogs-social-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;
            align-items: start;
            gap: 10px;
        }
        .date-time-div {
            align-self: flex-start;
        }
         /*--------------------------------------------------------------
    # Testimonials Section
    --------------------------------------------------------------*/
    .testimonials-section .testimonial-bg {
        display: none;
    }
    .testimonials-section .testimonials-top {
        padding-top: 0rem;
      }
      .swiper-arrows {
        position: relative;
        bottom: -29px;
        margin: 0px 100px;
    }
        .testimonials-section .client-profile .client-wave-img {
            position: absolute;
            z-index: 1;
            left: 45px;
            top: 41px;
            width: 243px;
            height: 243px;
        }

        .testimonials-section .client-profile .testimonial-content {
            margin-top: 10px;
        }

        .testimonials-section .client-profile {
            padding: 20px 35px 35px 35px;
        }
        .testimonial-slide {
            padding-left: 1.5rem;
              padding-right: 1.5rem;
          }
          .team-swiper-arrows {
            position: relative;
            bottom: -31px;
            margin: 0px 111px;
          }
        /* ====================================== About-us-page ====================================== */

        .about-section .about-image-top {
            position: absolute;
            z-index: 1;
            display: flex;
            gap: 10px;
            margin-left: 0px;
        }
        .about-image-stack-top img {
            width: 100%;
            border-bottom-left-radius: 150.5px;
        }
        .about-section .about-image-bottom  {
            text-align: center;
        }
        .about-section .about-image-top1 {
            margin-top: 30px;
        }
        .about-section .about-image-top1 img {
            border-bottom-left-radius: 95px;
            width: 185.62px;
            height: auto;
        }
        .about-section .about-image-top2 img {
            border-bottom-right-radius: 95px;
            width: 185.62px;
            height: auto;
        }
        .about-section .about-image-bottom img{
            width: 220px;
        }
        .about-section .about-image-top2 {
            margin-top: 69px;
        }

        /* .team-swiper-arrows {
            position: relative;
            bottom: 125px;
            margin: 0px -12px;
        } */
          .our-vision .vision-text {
            margin-top: 60px;
        }
        .our-vision .vision-bg-img {
            position: absolute;
            right: 1px;
            z-index: -1;
            top: -35px;
        }
        .our-vision .vision-bg-img img {
            width: 80px;
            height: auto;
        }
        .our-vision .vision-img img {
            border-bottom-right-radius: 150.5px;
        }
          .about-section .home-about-text {
            margin-top: 54px;
          }
          .team-container {
            padding-left: 0px;
            padding-right: 0px;
          }
          .personal-training-image-top img {
            width: 100%;
            border-bottom-left-radius: 150.5px !important;
        }
        .personal-training-image-bottom {
            right: -12px !important;
            top: -35px !important;
            left: unset !important;
          }
          .personal-training-image-bottom img {
            width: 80px;
            height: auto;
            display: block;
        }
        .personel-training .home-about-text {
            margin-top: 30px;
        }
     
/* Faq Section */
.faq-questions {
    margin: 0px 0px !important;
}
.collapse-card {
    padding: 25px 25px 25px 25px;
    background: #F8F8F8;
    border-radius: 22px;
    margin: 15px 0px;
}
.faq-main-btn {
    text-align: center;
  } 
.contact-header {
    margin-bottom: 60px;
}
.contact-btn {
    text-align: center;
  }

/* error-Page */
.error-text p {
    font-size: 18px;
    color: #000;
    margin-top: 90px;
}
.home-classes .class-grids {
    display: unset ;
    
  }
    }
    /*--------------------------------------------------------------
    # tab view starts
    --------------------------------------------------------------*/
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .grid-col {
            padding-left: 12.8px !important;
            padding-right: 12.8px !important;
        }
        /* .grid-row {
            margin-left: -0.8rem !important;
            margin-right: -0.8rem !important;
        } */
        .blogs-grid-col {
            padding-left: 12.8px;
            padding-right: 12.8px;
        }
        .header {
            background: #fff;
            box-shadow: 0px 0px 24px rgb(0 0 0 / 12%);
            transition: all 0.5s;
            z-index: 997;
        } 
        header .navbar-collapse {
            height: 100vh;
        }
        .hero .image-stack__item-top img {
            width: 330px;
        }
        .home-classes .classes-card .personal-training-card {
                background: #F8F8F8;
                border-radius: 20px;
                text-align: center;
                width: 170px;
                padding: 20px 10px;
        } 
        .price-section .card-content .pricing-display .pricing-number {
            font-family: "Poppins";
            font-size: 30px;
            color: #7A5C8D;
            font-weight: 600;
        }
        .price-section .pricing-display .pricing-symbol {
            margin-top: 0rem;
            }
            .price-section .pricing-card {
                padding: 42px 20px 45px 20px;
              }

              .testimonials-section .client-profile .client-wave-img {
                left: 8px;
                top: 17px;
                width: 175px;
                height: 175px;
            }
            .testimonials-section .client-profile {
                padding: 50px 20px 65px 20px;
            }
            .testimonials-section .testimonial-bg {
                margin-left: -44px;
                min-width: 775px;
            }
            .swiper-arrows {
                position: relative;
                bottom: 316px;
                margin: 0px -46px;
            }

            .home-blogs-section .blogs_bg {
                margin-left: -44px;
                min-width: 775px;
            }

            .blogs-section .blogs_bg {
                position: absolute;
                /* width: 100%; */
                height: 400px;
                background: #F2F2F2;
                /* border-radius: 90px 90px 0px 0px; */
                border-bottom-right-radius: 90px;
                border-bottom-left-radius: 90px;
                /* transform: rotate(-180deg); */
                z-index: -1;
                top: 49.5%;
                margin-left: -67px;
                min-width: 830px;
            }
            

            .team-swiper-arrows {
                position: relative;
                bottom: 31px;
                margin: 0px -54px;
            }
        
.container, .container-md, .container-sm {
    max-width: 720px;

}


    }

    /*--------------------------------------------------------------
    # tab view Ends
    --------------------------------------------------------------*/
     
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .grid-col {
            padding-left: 15px;
            padding-right: 15px;
        }
        .blogs-grid-col {
            padding-left: 15px;
            padding-right: 15px;
        }
        .testimonials-section .testimonial-bg {
            position: absolute;
            height: 400px;
            background: #F2F2F2;
            border-top-right-radius: 90px;
            border-top-left-radius: 90px;
            z-index: -1;
            margin-left: -51px;
            min-width: 1031px;
       
      }
      .home-blogs-section .blogs_bg {
        position: absolute;
        /* width: 100%; */
        height: 400px;
        background: #F2F2F2;
        border-bottom-right-radius: 90px;
        border-bottom-left-radius: 90px    ;
        z-index: -1;
        top: 50%;
        margin-left: -116px;
        min-width: 1164px;
    } 
    .blogs-section .blogs_bg {
        position: absolute;
        /* width: 100%; */
        height: 400px;
        background: #F2F2F2;
        /* border-radius: 90px 90px 0px 0px; */
        border-bottom-right-radius: 90px;
        border-bottom-left-radius: 90px;
        /* transform: rotate(-180deg); */
        z-index: -1;
        top: 57.5%;
        margin-left: -40px;
        min-width: 1015px;
    }
    .swiper-arrows {
        position: relative;
        bottom: 203px;
        margin: 0px -55px;
    }
    .team-swiper-arrows {
        position: relative;
        bottom: 85px;
        margin: 0px -52px;
    }
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
    .home-classes .classes-card-top {
        margin-left: 0;
    }
    .home-classes .classes-card .classes-card-bgimg {
        position: absolute;
        right: -50px;
        z-index: -1;
        top: -75px;
    }
   
    .home-blogs-section .blogs_bg {
        position: absolute;
        height: 400px;
        background: #F2F2F2;
        border-bottom-right-radius: 90px;
        border-bottom-left-radius: 90px;
        z-index: -1;
        top: 50%;
        margin-left: -51px;
        min-width: 1031px;
    }
    .home-blogs-section .blogs-main-btn {
        display: flex;
        justify-content: end;
        padding-top: 0px;
        position: relative;
    }

}
      

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  margin: 0 auto;
}
.home-blogs-section .blogs_bg {
    position: absolute;
    height: 400px;
    background: #F2F2F2;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    z-index: -1;
    top: 48.5%;
    margin-left: -56px;
    min-width: 1225px;
}
.swiper-arrows {
    position: relative;
    bottom: 259px;
    margin: 0px -53px;
}
.team-swiper-arrows {
    position: relative;
    bottom: 128px ;
    margin: 0px -53px ;
}
.testimonials-section .testimonial-bg {
    position: absolute;
    height: 400px;
    background: #F2F2F2;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    z-index: -1;
    margin-left: -51px;
    min-width: 1209px;
}
.application-card {
    background: #F8F8F8;
    border-radius: 20px;
    /* padding: 50px 35px 45px 35px; */
    margin: 270px 50px 0px 50px;
}
}

 /*--------------------------------------------------------------
    # Class page modal responsive
    --------------------------------------------------------------*/
    @media (max-width: 1199.98px) {
        .d-md-none{
            display: none !important;
        }
        .d-md-block{
            display: block !important;
        }
        .personal-training-img{
            display: none !important;
        }
        .personal-training-img-mobile{
            display: block !important;
        }
        .modal-wave{
            position: absolute;
            left: 0px;
            z-index: 9;
            top: -287px !important;
            width: 100px !important;
            height: 100px !important;
            border-top-left-radius: 20px;
            border-top-right-radius: 0 !important;
        }
        .register-modal-head{
            margin: 20px !important;
            width: 100%;
        }
        .modal-open .modal{
            width: 100%;
        }
        .class-select{
            margin-top: 160px;
            margin-left: 30px;
        }
        .personal-image-top1 {
            margin-right: 60px !important;
        }
        img.img.img-fluid.personal-taining-man {
            margin-top: -520px;
            width: 64%;
        }
        
        .register-modal-body{
            margin: 20px !important;
            width: 100%;
        }
        .modal-img-text {
            top: -152px !important;
            text-align: center;
            left: 26%;
        }
        .personal-trainig-form{
            width: 90%;
        }
        .mobile-align {
            display: flex;
            margin-left: 0px;
        }
        .wi-50{
            width: 50%;
        }
        .text-sm-center{
            text-align: center !important;
        }

    }

    @media (min-width: 1199.98px) {
        .d-db-none{
            display: none !important;
        }
        .d-db-block{
            display: block !important;
        }
        .personal-training-img{
            display: block !important;
        }
        .personal-training-img-mobile{
            display: none !important;
        }
        .text-sm-center{
            text-align: right !important;
        }


    }
    @media (min-width: 992px) and (max-width: 1199.98px) {

        .register-modal-body{
            margin: 50px !important;
            width: 100%;
        }

    }